.wrapPost {
  width: 100%;
  height: 100vh;
  color: black;
  background: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902621.jpg?w=996&t=st=1710603254~exp=1710603854~hmac=d10698878bd9d78040a080271e8ebaa2823e952b01ca076e33dd24b2a9bc0c65);
}